In [1]:
# Importing Libraries
import pandas as pd
import numpy as np

In [2]:
# Reading file
data = pd.read_csv('/Users/mandas/Desktop/budget_data.csv')
data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
# The total number of months included in the dataset
total_months = len(data["Date"].unique())
total_months

86

In [5]:
# The net total amount of "Profit/Losses" over the entire period
Net_Amount = sum(data["Profit/Losses"])
Net_Amount

38382578

In [55]:
# The average of the changes in "Profit/Losses" over the entire period
data["change"] = data["Profit/Losses"].diff()
value = (data["change"].sum())
count = (len(data["change"])- 1)
average = value/count
average

-2315.1176470588234

In [57]:
# The greatest increase in profits (date and amount) over the entire period
max_value = data[["change"].max()]
max_value

1926159.0

In [60]:
# The greatest decrease in losses (date and amount) over the entire period
min_value = data["change"].min()
min_value

-2196167.0

'/Users/mandas'