In [1]:
# Import Libraries
import pandas as pd
import numpy as np

In [13]:
# Ingest Data
data = pd.read_csv("PyPoll.csv")
data.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [17]:
# The total number of votes cast
total = len(data["Voter ID"].unique())
total

3521001

In [21]:
# A complete list of candidates who received votes
candidate_list = data["Candidate"].unique()
candidate_list

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [42]:
# The percentage of votes each candidate won
count = data["Candidate"].value_counts()
Percent_count = ((count.iloc[[0,1,2,3]])/total)*100
Percent_count

Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64

In [43]:
# The total number of votes each candidate won
count = data["Candidate"].value_counts()
count

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [44]:
# The winner of the election based on popular vote
winner = Percent_count.max()
print ()

63.00001050837531